<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../../partials/head-libs') %>
  <link rel="stylesheet" href="/admin/login/login-page.css" />
  <title>KingBuf - Nhà hàng của mọi nhà</title>
</head>

<body>
  <!-- Header -->
  <%- include('../../partials/page-header') %>

  <!-- Main -->
  <%- include('./main') %>

  <!-- Footer -->
  <%- include('../../partials/page-footer') %>

  <%- include('../../partials/script-libs') %>
  <script src="/admin/login/login-page.js" defer></script>
  
</script>
</body>

</html>