<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('../../partials/head-libs') %>
  <link rel="stylesheet" href="/update-bookings/otp-form/otp-form.css" />
  <title>KingBuf - Xác thực OTP</title>
</head>

<body>
  <!-- Header -->
  <%- include('../../partials/page-header') %>

  <!-- Main -->
  <%- include('./main') %>

  <!-- Footer -->
  <%- include('../../partials/page-footer') %>

  <%- include('../../partials/script-libs') %>
  <script src="/update-bookings/otp-form/otp-form.js" defer></script>
</body>

</html>